@charset "UTF-8";
/*o que esta em cima é uma regra em CSS*/

body {
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.308);
    text-align: justify;
}
a {
    text-decoration: none;
    color: rgb(94, 94, 17);
    text-align: right;
}