@charset "UTF-8";

/* Modo landscape */

body {

    background: url(../imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}