@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {

    background-color: black;
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

}

main {

    position: relative;
    width: 100vw;
    height: 100vh;
}

section#celular {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url("../imagens/frame-iphone.png");
}

iframe {

    position: relative;
    top: 80px;
    left: 22px;
    border: 0;
    width: 268px;
    height: 472px;
}

section#redes {

    text-align: right;

}

section#redes > a > img {

    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    box-sizing: border-box;
}
section#redes img:hover {

    border: 1.5px solid rgb(255, 255, 255);
    transform: translate(-3px , -3px);
    box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.562);
    transition: 300ms, border 300ms;
}